apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kube-dump
  namespace: kube-dump
  labels:
    app.kubernetes.io/name: kube-dump
    app.kubernetes.io/component: backup
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # Uncomment to specify a storage class
  # storageClassName: standard

